<!doctype html>
<html>
    <head>
        <title>RHYTHM</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </head>

    <body>
        {% block body %}{% endblock %}
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="//d3js.org/d3-path.v1.min.js"></script>
        <script src="//d3js.org/d3-shape.v1.min.js"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3-legend.js') }}"></script>
        <script type='text/javascript'>
            {% include 'visualization.js' %}
        </script>
    </body>
</html>